extends layout

block content
    -var values = allFiles;
    div.row
        div.col-xs-12
            form(method="post" action="/upload" enctype="multipart/form-data")
                input(type="file" name="theFile")
                input(type="submit" name="submit" value="submit")
    div.row
        div.col-xs-12
    -for(var i = 0; i < values.length; i++)
        div.row
            div.col-xs-8 #{values[i].file.originalname} 
            div.col-xs-2 #{values[i].file.size} bytes
            div.col-xs-2 
                a(href='/delete/#{values[i]._id}') Delete

