extends layout

block content
    div.row
        div.col-xs-10 
            h3 Please log in to access the shared file system
    form(id="login" method="post" action="/login")
        input(type="text" name="username")
        input(type="submit" name="submit" value="Login")
